nav {
    padding: 24px;
}

.header {
    &__logo {
        img {
            //may not need
        }
    }

    &__menu {//mobile menu
        > span {
            text-align: right;
            display: block;
            width: 26px;
            height: 2px;
            background-color: $white;
            color: $white;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
}